.edit-profile-modal{
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: display .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-profile-body {
    background: white;
    height: 80%;
    width: 80%;
    border-radius: 20px;
    overflow: scroll;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
}
.edit-icon {
    width: 500px;
    height: 500px;
    object-fit: cover;
    justify-self: center;
    margin-top: 20px;
}
