.edit-modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  transition: display 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-modal h2 {
  margin-left: 10px;
}
.edit-body {
  background: var(--background);
  height: 80%;
  width: 80%;
  border-radius: 20px;
  overflow: scroll;
}
.edit-option {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.edit-option input,
.edit-option select {
  width: 200px;
  height: 30px;
  margin: 0;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}
.edit-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.edit-post-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  justify-self: center;
}
