.app-header {
  position: sticky;
  top: 0;
  height: 5vh;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-bar a {
  text-decoration: none;
  color: var(--text);
}
.nav-bar a:hover {
  text-decoration: underline;
}
.active {
  font-weight: 700;
}
