.mypost-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px;
}
.mypost-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mypost-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
