.post {
  min-width: 200px;
  margin: 5px;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-primary);
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
}
.post:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 5px rgb(207, 207, 207);
  cursor: pointer;
}
.post-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}
.post-content {
  padding: 10px;
}
.price-tag {
  font-weight: bold;
}
.post-buttons {
  display: flex;
  justify-content: right;
}
.post-buttons button {
  background-color: transparent;
  color: var(--accent);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-like,
.post-save {
  display: grid;
  width: 25%;
  grid-template-columns: 1fr 1fr;
}
