.details {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.details-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.details-header {
  border-bottom: 1px solid lightgray;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
