.profile-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-info {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.liked-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.saved-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.purchased-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.edit-btn {
  background-color: var(--accent);
  color: white;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
nav ul li {
  border-bottom: 1px solid lightgray;
  width: 100px;
  text-align: center;
}
.selected {
  font-weight: bold;
}
