.register-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.register-form{
    display:flex;
    flex-direction: column;
    padding: 20px;
    background-color: lightgray;
}
