.app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  overflow: scroll;
}
.page {
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}
.app-footer {
  height: 5vh;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-pic {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  background-color: white;
}
.profile-pic-large {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  background-color: white;
}
.uploaded-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
