.app {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: 100vh;
}
main {
  height: 85vh;
}
.app-header {
  height: 10vh;
  background-color: red;
}
.app-footer {
  height: 5vh;
  background-color: blue;
}
